<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DisplayData</title>
</head>
<body>
   <p>
    Enter your 1st sub marks : {{sub1}}<br>
    Enter your 2nd sub marks : {{sub2}}<br>
    Enter your 3rd sub marks : {{sub3}}<br>

    <br>
    Total marks is {{total}}
    <br>
    percentage is {{percentage}}

    <br>

    your Result is {{final}}
   </p>
    <br>
    <a href='/'>Go Back</a>
</body>
</html>